*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(255, 254, 254);
    background-color: rgb(28, 28, 28);
    position: relative;
}

.container {
    z-index: 3;
    height: 200vh;
    width: 100%;
    position: relative;
}

.nav-bar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.mata {
    position: fixed;
    z-index: 3;
    left: 0;
    padding: 2rem 3rem;
}

.developer {
    position: fixed;
    z-index: 3;
    padding: 2rem;
}

.info {
    position: fixed;
    z-index: 3;
    right: 0;
    padding: 2rem 3rem;
}

.name{
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    
    background-image: url('images/Untitled-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
    pointer-events: none;
}

.content{
    padding: 1rem;
}

.cacti {
    height: 36rem;
    margin: 10rem 3rem;
}

.cacti > a > .bg-image {
    position: relative;
    z-index: 0;
    height: 36rem;
    filter: grayscale(100);
    left: 0;
}

.stussy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 26rem;
    margin: 10rem 3rem;
}

.smile{
    height: 8rem;
    margin: 9rem;
}

.stussy > a > .bg-image {
    position: relative;
    z-index: 1;
    height: 26rem;
    filter: grayscale(100);
    float: right;
}

.ballastpt{
    height: 33rem;
    margin: 10rem 3rem;
}

.ballastpt > a > .bg-image {
    position: relative;
    z-index: 2;
    height: 33rem;
    filter: grayscale(100);
}

.br8s{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 24rem;
    margin: 10rem 3rem;
}

.br8s > a > .bg-image {
    position: relative;
    z-index: 1;
    height: 24rem;
    filter: grayscale(100);
    float: right;
}

a .bg-image:hover {
    filter: grayscale(0);
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}