*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    color: rgb(255, 254, 254);
    background-color: rgb(28, 28, 28);
    position: relative;
}

.container {
    z-index: 3;
    height: 200vh;
    width: 100%;
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.mata {
    position: fixed;
    z-index: 3;
    left: 0;
    padding: 2rem 3rem;
}

.developer {
    position: fixed;
    z-index: 3;
    padding: 2rem;
}

.info {
    position: fixed;
    z-index: 3;
    right: 0;
    padding: 2rem 3rem;
}

.name{
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    
    background-image: url('images/Untitled-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
    pointer-events: none;
}

.content{
    position: relative;
    z-index: 2;
    padding: 0 1rem;
    width: 100%;
    font-size: 1.1rem;
}

.cacti-container {
    height: 36rem;
    width: 100%;
    margin: 10rem 0;
    padding: 0 4rem;
}

.cacti {
    height: 36rem;
    width: 64rem;
    background-image: url('images/cacti.gif');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    transition: filter ease 1s;
    cursor: pointer;
}

.cacti:hover {
    filter: grayscale(0);
}

.cacti:hover > .heading {
    opacity: 1;
}

.stussy-container {
    height: 26rem;
    width: 100%;
    margin: 10rem 0;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.smiley{
    height: 8rem;
    padding: 0 0 0 4rem;
}

.stussy {
    height: 26rem;
    width: 46rem;
    background-image: url('images/stussy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    transition: filter ease 1s;
    cursor: pointer;
    float: right;
}

.stussy:hover {
    filter: grayscale(0);
}

.stussy:hover > .heading {
    opacity: 1;
}

.ballastpt-container {
    height: 33rem;
    width: 100%;
    margin: 10rem 0;
    padding: 0 4rem;
}

.ballastpt {
    height: 33rem;
    width: 58rem;
    background-image: url('images/ballastpt.gif');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    transition: filter ease 1s;
    cursor: pointer;
}

.ballastpt:hover {
    filter: grayscale(0);
}

.ballastpt:hover > .heading {
    opacity: 1;
}

.br8s-container {
    height: 24rem;
    width: 100%;
    margin: 10rem 0 0 0;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.br8s {
    height: 24rem;
    width: 43rem;
    background-image: url('images/br8s.gif');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100);
    transition: filter ease 1s;
    cursor: pointer;
    float: right;
}

.br8s:hover {
    filter: grayscale(0);
}

.br8s:hover > .heading {
    opacity: 1;
}

.heading {
    opacity: 0;
    transition: opacity ease 1s;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 980px){
    .name {
        background-size: 37rem;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .smiley {
        display: none;
    }

    .cacti-container {
        margin: 0;
        padding: 0 0.5rem;
    }

    .stussy-container {
        margin: 0;
        padding: 0 0.5rem;
    }

    .ballastpt-container {
        margin: 0;
        padding: 0 0.5rem;
    }

    .br8s-container {
        margin: 0;
        padding: 0 0.5rem;
    }

    .cacti {
        height: 50vh;
        width: 100%;
    }

    .stussy {
        height: 50vh;
        width: 100%;
    }

    .ballastpt {
        height: 50vh;
        width: 100%;
    }

    .br8s {
        height: 50vh;
        width: 100%;
    }


}