@import url('http://fonts.cdnfonts.com/css/hanson');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    color: rgb(255, 254, 254);
    background-color: rgb(28, 28, 28);
    position: relative;
}

.container {
    z-index: 3;
    height: 200vh;
    width: 100%;
    position: relative;
}

.nav-bar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.mata {
    position: fixed;
    z-index: 3;
    left: 0;
    padding: 2rem;
}

.developer {
    position: fixed;
    z-index: 3;
    padding: 2rem;
}

.info {
    position: fixed;
    z-index: 3;
    right: 0;
    padding: 2rem;
}

.name{
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100%;
    
    background-image: url('Untitled-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
    pointer-events: none;
}

.content{
    padding: 1rem;
}

.cacti {
    height: 40rem;
    margin: 10rem 1rem;
}

.cacti > a > .bg-image {
    position: relative;
    z-index: 0;
    height: 40rem;
    filter: grayscale(100);
    left: 0;
}

.stussy{
    height: 28rem;
    margin: 10rem 1rem;
}

.stussy > a > .bg-image {
    position: relative;
    z-index: 1;
    height: 28rem;
    filter: grayscale(100);
    float: right;
}

.ballastpt{
    height: 30rem;
    margin: 10rem 1rem;
}

.ballastpt > a > .bg-image {
    position: relative;
    z-index: 2;
    height: 30rem;
    filter: grayscale(100);
}

.br8s{
    height: 34rem;
    margin: 10rem 1rem;
}

.br8s > a > .bg-image {
    position: relative;
    z-index: 1;
    height: 34rem;
    filter: grayscale(100);
    float: right;
}

a .bg-image:hover {
    filter: grayscale(0);
    cursor: pointer;
}